<html>
	<head>
		<title>
			profile
		</title>
		<link href="css/cssHome.css" rel="stylesheet" />

		<script src = "https://code.jquery.com/jquery-3.1.1.min.js"></script>
	</head>
	<body>
		<div id = "users">
			
		</div>
		
		<form hidden class = "message-body" id = "message-body" method = "post">
			<div id = "message-box">
				<div class = "prev-message" id = "prev-message"></div>
				<input type="text" name="message" id = "message">
				<input type = "submit" id = "submit"/>
			</div>
		</form>
		
		<a href = "#" id = "logout" >logout</a>
		
		<script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
		
		<script src = "js/homeModel.js"></script>

		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		
		<script type="text/javascript" src = "js/homeJS.js"></script>
		
	
	</body>

</html>
