<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chat Box</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional Bootstrap theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel = "stylesheet" href="css/style.css">

<style>
body{
    background-image:url('images/ABC.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
</head>
<div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container text-center">
    <div class="row" id = "users"></div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="round hollow text-center">
            <a class="open-btn" href="#" id = "logout">logout</a>
        </div>
    </div>
</div>



<aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar">

<div class="popup-head" >
    <div class="popup-head-left pull-left">
            <h1 id = "name-of-friend">Gurdeep Osahan</h1>&nbsp
            <small>
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                   </small>
    </div>
    <div class="popup-head-right pull-right">
        <button class="chat-header-button" type="button">
            <i class="glyphicon glyphicon-facetime-video"></i>
        </button>
        <button class="chat-header-button" type="button">
            <i class="glyphicon glyphicon-earphone"></i>
        </button>
        <div class="btn-group gurdeepoushan">
            <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
                <i class="glyphicon glyphicon-paperclip"></i>
            </button>
            <ul role="menu" class="dropdown-menu pull-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Gallery
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> 
                        Photo
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> 
                        Video
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Audio
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact
                    </a>
                </li>
            </ul>
        </div>
                        
                        <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                      </div>
              </div>

<div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" id = "msg" style="opacity: 1; display: block; transform: translateX(0px);">
                        <div class="chat_box touchscroll chat_box_colors_a" id = "prev-message">
                            <div class="chat_message_wrapper chat_message_right">
                            </div>
                        </div>
                    </div>
<div class="chat_submit_box">
    <div class="uk-input-group">
        <div class="gurdeep-chat-box">
        <span style="vertical-align: sub;" class="uk-input-group-addon">
        <a href="#"><i class="fa fa-smile-o"></i></a>
        </span>
        <input type="text" placeholder="Type a message" id="message" name="submit_message" class="md-input">
        </div>
        <span style="vertical-align: sub;" class="uk-input-group-addon">
             <a href="#" id = "submit"><i class="glyphicon glyphicon-send"></i></a>
        </span>
       
    </div>
</div>
     
</aside>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
    <script src="js/home.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
        
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    
    <script src = "js/homeModel.js"></script>

    <script type="text/javascript" src = "js/homeJS.js"></script>
        


</div>
</html>                                		
<!-- 
 <a Design and Developmenta title="Gurdeep Osahan (Web Designer)" target="_blank" href="https://web.facebook.com/iamgurdeeposahan">
            <img class="md-user-image" alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" title="Gurdeep Osahan (Web Designer)" alt="Gurdeep Osahan (Web Designer)"> -->