	<!DOCTYPE html>
	<html>
	<head>
		<title>login</title>
	</head>
	<body>
		<div id = "form">
		<input type="text" id="user">
		<input type="text" id="pass">
		<input type="submit" onclick="fun()">
		</div>
	</body>
	<script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
	<script src = "js/homeModel.js"></script>
	 <script>
	 var database = new Database()
	 function fun(event)
	  {
	    console.log("ok");
	      //event.preventDefault();
	     var user1 =  document.getElementById("user").value
	     var pass = document.getElementById("pass").value
	      if(user1 && pass)
	      {
	        database.login(user1, pass)
	        .then (function (user)
	        {

	        var tokens = user.getToken(false);
	        console.log(tokens)
	        	console.log ()
	        	//console.log(JSON.stringify( user.getToken(true) ) );
	        	/*sendRequest ("/profile", "post", user.getToken(true), function ()
	        	{
	        		console.log ("ok");
	        	})	*/
	     //   	location.href = "/profile"
	        })
	        .catch (function (error)
	        {
	          alert (error);
	        })
	      } 
	      else
	      {
	          alert ("fill email and password box" )
	      }
	  }

function sendRequest (url, requestMethod, extraInfo, response)
{
	var request=new XMLHttpRequest();
	request.open(requestMethod, url);
	if(extraInfo instanceof Function )
		request.send();
	else
		request.send(extraInfo);

	request.addEventListener('load',function(event)
	{
		if(request.status == 200)
		{

			var data = JSON.parse ( request.responseText )
			if(extraInfo instanceof Function )
				extraInfo(null, data);
			else
				response(null, data);

		}
		else
		{
			var data = JSON.parse ( request.responseText )
			if(extraInfo instanceof Function )
				extraInfo(data);
			else
				response(data);

		}

	});
}

	  </script>

	</html>