<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> Chat Login </title>
<link href="./login/style.css" rel="stylesheet" type="text/css" media="all">
<link href="./login/css" rel="stylesheet" type="text/css">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 
<script src="./login/ca-pub-9153409599391170.js"></script><script async="" src="./login/analytics.js"></script><script src="./login/jquery.min.js"></script>
<script async="" type="text/javascript" src="./login/fancybar.js" id="_fancybar_js"></script>
<style>
body{
    background-image:url('images/ABC.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
</head>
<body>
<div class="wrap">

<div class="contact-form">
 <div id = "registration-form" hidden>
  <form class="contact_form" action="register" method="post" name="contact_form">
    <h1>Login Into Your Account</h1>
      <ul>
          <li>
              <input type="text" class="textbox1" name="first-name" placeholder="First Name" required="">
              <span class="form_hint">Enter a valid email</span>
               <p><img src="./login/contact.png" alt=""></p>
          </li>
          <li>
              <input type="text" name="last-name" class="textbox2" placeholder="Last Name">
              <p><img src="./login/lock.png" alt=""></p>
          </li>
           <li>
                <input type="email" class="textbox1" name="email" placeholder="E-mail" required="">
                <span class="form_hint">Enter a valid email</span>
                 <p><img src="./login/contact.png" alt=""></p>
            </li>
             <li>
                <input type="password" class="textbox1" name="password" placeholder="pass word" required="">
                <span class="form_hint">Enter a valid email</span>
                 <p><img src="./login/contact.png" alt=""></p>
            </li>
             <li>
                <input type="password" class="textbox1" name="c-password" placeholder="confirm-password" required="">
                <span class="form_hint">Enter a valid email</span>
                 <p><img src="./login/contact.png" alt=""></p>
            </li>
         </ul>
          <input type="submit" name="Sign In" value="Sign UP">
      <div class="clear"></div> 
      <a href = "#" id = "login-tab"> already have account</a>

    <div class="clear"></div> 
  </form>
</div>



<div id = "login-form">
  	<form class="contact_form" method="post" action="/login" name="contact_form">
  		<h1>Login Into Your Account</h1>
  	    <ul>
  	        <li>
  	            <input type="email" class="textbox1" id = "username" name="username" placeholder="username" required="">
  	            <span class="form_hint">Enter a valid email</span>
  	             <p><img src="./login/contact.png" alt=""></p>
  	        </li>
  	        <li>
  	            <input type="password" id = "password" name="password" class="textbox2" placeholder="password">
  	            <p><img src="./login/lock.png" alt=""></p>
  	        </li>
          </ul>
         	 	<input id = "log-in" type="submit" name="Sign In" value="Sign In">
  			<div class="clear"></div>	
  		
  		<div class="clear"></div>	
  	</form>

  <div class="account">
  	<h2>
      <a href="#" id = "registration-tab">Don' have an account? Sign Up!</a>
    </h2>
<!--       <a href="#" onclick="facebookSignin()"><i>Sign In with Facebook</i><div class="clear"></div></a> -->
    <div class="span">
      <a href="#" onclick="facebookSignin()"><i>Sign In with Facebook</i><div class="clear"></div></a>
    </div>  
      
 <!--    <div class="span1"><a href="auth/twitter"><img src="./login/twitter.png" alt=""><i>Sign In with Twitter</i><div class="clear"></div></a>
    </div>
    
    <div class="span2"><a href="auth/google"><img src="./login/gplus.png" alt=""><i>Sign In with Google+</i><div class="clear"></div></a>
    </div> -->
  </div>	
  <div class="clear"></div>

</div>	
</div>

<div class="footer">
	<p>© 2014 Facebook-Twitter-Google-Login. All rights reserved | Template by <a href="http://w3layouts.com/">w3layouts</a></p>
</div>
</div>

</body>
<script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
<script src = "js/homeModel.js"></script>

<script type="text/javascript">
  
  var database = new Database ();


  function ChatLogin ()
  {
    console.log ("ok")
    
    this.login = document.getElementById("log-in");
    
    this.username = document.getElementById("username");
    
    this.password = document.getElementById("password");

    this.login.addEventListener ("click", this.loginUser.bind(this));

  }

  ChatLogin.prototype.loginUser = function(event)
  {
    console.log("ok");
      event.preventDefault();

      if(this.username.value && this.password.value)
      {
        database.login(this.username.value, this.password.value)
        .then (function (user)
        { 
          sendRequest ("post", "setUID", {uid : user.uid}, function(error, status)
          {
              if(error)
              {
                location.href = "/"
                return;
              }

              console.log (status);
              location.href = "/profile"
          })
           // location.href = "/profile";
        })
        .catch (function (error)
        {
          alert (error);
        })
      } 
      else
      {
          alert ("fill email and password box" )
      }
  }


  var chatLogin = new ChatLogin();

  var registrationTab = document.getElementById("registration-tab");
  var registrationForm = document.getElementById("registration-form");
  var loginTab = document.getElementById("login-tab")
  var loginForm = document.getElementById("login-form")
  registrationTab.addEventListener ("click", openRegistration)
  loginTab.addEventListener ("click", openLogin);
  function openRegistration()
  {
 //   alert("ok")
      show(registrationForm);
      hide(loginForm)
  }

  function openLogin ()
  {
      show(loginForm)
      hide(registrationForm)
  }

  function show (element)
  {
    element.removeAttribute ("hidden");
  }

  function hide (element)
  {
    element.setAttribute ("hidden", "true");
  }


  function sendRequest (requestMethod, url, extraInfo, response)
  {
    var request=new XMLHttpRequest();
    request.open(requestMethod, url);
    if(extraInfo instanceof Function )
      request.send();
    else
      request.send(JSON.stringify( extraInfo) );

    request.addEventListener('load',function(event)
    {
      if(request.status == 200)
      {

        var data = JSON.parse ( request.responseText )
        if(extraInfo instanceof Function )
          extraInfo(null, data);
        else
          response(null, data);

      }
      else
      {
        var data = JSON.parse ( request.responseText )
        if(extraInfo instanceof Function )
          extraInfo(data);
        else
          response(data);

      }

    });
  }


</script>
<script >
  var provider = new firebase.auth.FacebookAuthProvider();

  function facebookSignin() {
     firebase.auth().signInWithPopup(provider)
     
     .then(function(result) {
        var token = result.credential.accessToken;
        var user = result.user;
        console.log (user)
        console.log (token);
        firebase.database().ref("user/"+user.uid).set({firstName: user.displayName, picture : user.photoURL, email : user.providerData[0]})
          .then (accept =>{
            console.log (accept )
            console.log ("okkkkkkkkkkkkkkkkk")
             
        sendRequest ("post", "setUID", {uid : user.uid}, function(error, status)
          {
              if(error)
              {
                location.href = "/"
                return;
              }

              console.log (status);
              location.href = "/profile"
          })
        })
     }).catch(function(error) {
        console.log(error.code);
        console.log(error.message);
     });
  }

  function facebookSignout() {
     firebase.auth().signOut()
     
     .then(function() {
        console.log('Signout successful!')
     }, function(error) {
        console.log('Signout failed')
     });
  }

</script>
</html>g