<html>
	<head>
		<title>
			upload pic
		</title>
	</head>
	<body>
		<form action = "picUpdate" method = "post" enctype = "multipart/form-data">
			<input type = "file" name = "profilePic">
			<input type = submit value = "upload">
		</form>
	</body>

</html>